<h2>Login</h2>

<form method="post" action="login">
    
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br>
  <label for="passowrd">Passowrd:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, you will be able to access your reports and update your medical history. ".</p>
<p></p>

<a href="register.html">Register</a><br><br>
<a href="passwordreset.html">Reset Password</a>
